a {
   
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;

    
}

a:hover {
	opacity: 0.5;

} 

.project {
    width: 45%;
    border-style: solid;
    border-width: 5px;
    padding: 1em;
}



.sidebar h1 {
    font-family: Bebas Neue, Futura,  Helvetica, cursive;
}

.sidebar img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}
@media (min-width: 48em) {
    .sidebar img {
        display: block;
        height: 65%;
        width: 65%;
    }
}

.grid-item {
    margin-bottom: 5px;
}
